<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = "{{url_for('static', filename= 'css/style.css')}}">
    
    {% block title %}
      <title> {{ title if title else 'BrickIt' }} </title>
    {% endblock title %}




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .header {
            background-color: #f8f9fa;
            padding: 20px;
        }
        .sidebar {
            background-color: #f8f9fa;
            padding: 10px;
        }
        .product-table img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    </style>
</head>
<body>



    {% block menu %}

      <header class = 'header'> 
        <div class = 'logo'>
          <img src=' {{ url_for('static', filename='img/logo_small.png') }}' alt='logo'>

          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{url_for('main.index')}}">BrickIt</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">Загрузить Wanted list c bl</a>
                  </li>
              
                  
                  <form class="d-flex" role="search" method="get" action="{{ url_for('main.poisk_id') }}">
                    <input class="form-control me-2" type="search" placeholder="Поиск по артикулу" aria-label="Search_id" name="search_id" value="{{ request.args.get('search_id', '') }}">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                  </form>

                  
                  <form class="d-flex" role="search" method="get">
                    <input class="form-control me-2" type="search" placeholder="Поиск по каталогу" aria-label="Search" name="search" value="{{ request.args.get('search', '') }}">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                  </form>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.condition')}}">Условия покупки</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.catalog')}}">Каталог</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('main.zakaz')}}">Корзина</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


        </div>

      </header>
    {% endblock menu %}  



    

            

 


<div class = 'wrap'>

  <div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2 sidebar">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Выбор деталей по категориям
            </a>
            <ul class="dropdown-menu">
              {% if categories %}
                {% for category in categories %}
                  <li>
                    <a class="dropdown-item" href="{{ url_for('main.show_category', category_id=category.id) }}">{{ category.name }}</a>
                  </li>
                {% endfor %}
              {% else %}
                  <li>
                    <a class="dropdown-item" href="{{url_for('main.catalog')}}">Весь каталог товаров</a>
                  </li>
              {% endif %}
              
            </ul>
          </ul>
          </li>
            <h5>Сортировать по категориям</h5>
            <ul class="list-group">
                <li class="list-group-item"><button class="btn btn-link btn-sm">Все товары</button></li>
                <ul class="list-group">
                  {% for category in categories %}
                  <li class="list-group-item">
                      <a href="{{ url_for('main.show_category', category_id=category.id) }}">{{ category.name }}</a>
                  </li>
                  {% endfor %}
              </ul>
            </ul>
        </div>
   

  



      <div class='col-md-9 content'>

        <div class='empty_block'></div>
        <main role='main' class='#'>

            <div class = 'col_md_12'>
              {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class='alert alert-{{ category }}'>{{ message }}</div>
                  {% endfor %}
                {% endif %}
              {% endwith %}



              {% block content %}{% endblock content %}
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>


    {% block details %} {% endblock details %}




  {% block main_page %}

  {% endblock main_page %}



  



  {% block footer %}

  <footer class='footer'>
    <p>&copy; 2025 </p>
  </footer>
  {% endblock footer %}



</div>
</body>
</html>