
{% extends "base.html" %}
{% block content %}

<div class="bg-white p-8 rounded-xl shadow-md w-full max-w-md">
    <div class="flex flex-col items-center mb-6">
      <h1 class="text-2xl font-bold text-gray-800">Добро пожаловать в вашу корзину!</h1>
      <p class="text-gray-500 text-sm mt-1">Для оформления заказа, пожалуйста, заполните данные</p>
    </div>
  
    <form class="space-y-4">
      <div>
        <label for="fio" class="block text-sm font-medium text-gray-700">ФИО </label>
        <input type="fio" id="fio" class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none" placeholder="Иванов Иван Иванович">
      </div>
      <div>
        <label for="telephone" class="block text-sm font-medium text-gray-700">Телефон</label>
        <input type="telephone" id="telephone" class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none" placeholder="+375 (**) *** - ** - **">
      </div>
  
      <div class="flex items-center justify-between">
        <label class="flex items-center space-x-2 text-sm">
          <input type="checkbox" class="rounded text-blue-600">
          <span>Нужна ли доставка</span>
        </label>
        <a href="{{url_for('main.condition')}}" class="text-sm text-blue-600 hover:underline">Просмотреть условия доставки</a>
      </div>
  
      <button class="btn btn-success">Подтвердить заказ</button>
     
    </form>







      <body class="bg-gray-100 flex items-center justify-center min-h-screen">
          <div class="col-md-9">
            <div class="d-flex justify-content-between align-items-center">
                <h4>Ваша корзина</h4>
            </div>
            {% if items %}
              <table class="table table-striped product-table">
                  <thead>
                      <tr>
                          <th scope="col">Изображение</th>
                          <th scope="col">Состояние</th>
                          <th scope="col">Цвет</th>
                          <th scope="col">Описание</th>
                          <th scope="col">Информация</th>
                      </tr>
                  </thead>
                  <tbody>

                  <tbody>
                      
                        {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }} ₽</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.total }} ₽</td>
                        </tr>
                        {% endfor %}
                  </tbody>
              </table>
              <h4>Общая сумма: {{ total_price }} ₽</h4>
              <button class="btn btn-danger"><a href="/clear_cart">Очистить корзину</a></button>
            {% else %}
              <p>Ваша корзина пуста.</p>
            {% endif %}

          </div>
          </div>
          </div>
      </body>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

  
  
  
      <div class="text-center mt-6">
        <p class="text-sm text-gray-600">Желаете продолжить покупки?
          <a href="{{url_for('main.catalog')}}" class="text-blue-600 hover:underline">Войти в каталог товаров</a>
        </p>
      </div>
    </div>

    {% endblock content %}